name: "oneofone"

networks:
  oneofone:
    driver: "bridge"

services:
  redis:
    image: redis:latest
    container_name: red
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  postgres:
    image: postgres:latest
    container_name: poop
    environment:
      POSTGRES_DB: oneofone
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  redis_data:
  postgres_data:
